#edit { width:700px;}
.loading { min-height:120px; _height:120px;.height:120px; background:url(i/loading.gif) no-repeat center center;}
#editit table {width:600px;}
#editit td {padding:5px; vertical-align:top;}
#editit td input  {width:100%;}
.disabled { background:#666;}